@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.fortune-box-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
    position: absolute;
    top:35vh;
    left: 20vw;
}

.fortune-pic {
    max-width: 500px;
    width: auto;
    margin-right: 3vw;
}

.btnfortune { 
    cursor: pointer;
    transition: 0,3;
    position: absolute;
    top: 23.9rem;
    left: 12.1rem;
    background-color: #f8d5fa; 
    color: #07172B; 
    border: 2px ridge #D0A05C;
    transition: background-color 1.5s ease, color 1.5s ease; 
    border-radius: 50%;
    width: 110px;
    aspect-ratio: 1/1;
    font-size: 16px;
    z-index: 3;
    font-family: "Suez One", serif;
    font-weight: 100;
}


.btnfortune:hover {
    background-color: #b000b9; 
    color: white; 
    border: 1px solid gold;
    box-shadow: 0 0 15px #F1E2B7;
    transform: scale(1.05);
    transition: 1s ease;

}

.advice-card {
    position: absolute;
    top: 25vh;
    left: 33vw;
    width: 500px;
    filter: drop-shadow(0 0 0.75rem #D0A05C50);
   
}

.papiro-advice {
    max-width: 30vw; 
    z-index: 3;
}    

.advice  {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s ease;
    width: 60%;
    font-family: "Quintessential";          
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #D0A05C;
    margin: 0;  
}

.animate {
    animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



@-webkit-keyframes focus-in-expand {
        0%{
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }
    80% {
        filter: blur(0);
        opacity: 1;
    }
}


