@import url(/src/style/style.css);


.page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  top: 30vh;
  left: 30vw;
}


.weapon {
  border-radius: 10px;
  padding: 1.75rem;
  background: #07172B80;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.08);
  transition: transform 120ms ease, box-shadow 120ms ease, background 120ms ease;
  cursor: pointer;
  border: 4px ridge #D0A05C;
}
.weapon:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px #ffe4b560;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
}

.player-score,
.computer-score {
  
  max-width: 120px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-size: 16px;
  font-weight: 100;
  color: #ffe4b5;
  border:2px solid #ffe4b550;
  margin-top: 5vh;
}


.weapon-select {
  gap: 4vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
}


.result-message {
  margin: 0;
  font-weight: 100;
  font-size: 24px;
}

.weapon-row {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.weapon img {
  width: 8vw;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.selection-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.player-selection-card,
.computer-selection-card {
  width: 10vw;
  aspect-ratio: 1/1;
  background: #D0A05C;
  border-radius: 20px;
  box-shadow: inset 0 -15px 10px #07172B60;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.selection-card-title {
  font-weight: 100;
  color: #07172B;
}

.selection-card_icon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.selection-card_icon img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.selecton-vs {
  font-weight: 700;
  font-size: 16px;
  color: #ffe4b5;
}

.reset-btn {
  font-family: 'Suez One', serif;
  border: none;
  background: linear-gradient(#ffe4b5 5%, #D0A05C);
  color: #07172B;
  font-weight: 100;
  font-size: 1rem;
  padding: 0.75rem 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}

.reset-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0px 15px #ffe4b560;
}

