.container {
    max-width: 900px;
    margin: 24px auto;
    padding: 16px
}

.subtitle {
    color: #F1E2B7;
    margin-bottom: 10px;
    background-color: #D0A05C;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.controls input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    color: var(--text);
}

.controls button {
    background: var(--accent);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 0 0 15px var(--accent);
    transition: 0.3s;
}

.controls button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.game-area {
    position: relative;
    display: inline-block;
}

.shooter-game-hub {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 19%;
    padding-left: 10%;
}

.game-hud {
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.05);
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 8px;
    backdrop-filter: blur(5px);
}

.hud strong {
    color: var(--accent)
}

canvas {
    background: #0e192d;
    border: 2px solid var(--accent);
    border-radius: 10px;
    box-shadow: 0 0 30px var(--accent);
    cursor: none;
}

/* ALARMA MODERNA */
.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(15, 25, 40, 0.95);
    color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px var(--accent);
    text-align: center;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.alert.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.alert p {
    font-size: 1.1rem;
    margin: 0 0 10px;
}

.alert button {
    background: var(--accent2);
    border: none;
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.alert button:hover {
    background: #ff66c4;
}

.instructions {
    margin-top: 6px;
    font-size: 0.9rem;
    opacity: 0.8;
    color: #cfefff;
}