
.container {
    max-width: 100vw;
    margin: 24px auto;
    padding: 16px
}

.subtitle {
    margin-bottom: 10px;
    background-color: #D0A05C;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-weight: 100;
}

.controls input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
}

.controls button {
    border: none;
    color: #0e192d;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
}


.game-area {
    position: relative;
    display: inline-block;
}

.shooter-game-hub {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 19%;
    padding-left: 10%;
    width: 60vw;
}

.game-hud {
    display: flex;
    justify-content: space-around;
    background: #0e192d80;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 100;
    margin-bottom: 8px;
    backdrop-filter: blur(5px);
    border: 1px solid #F1E2B7 ;
}


canvas {
    background: #0e192d;
    border: 2px solid #D0A05C;
    border-radius: 5px;
    box-shadow: 0 0 30px #0e192d;
    cursor: none;
}

/* ALARMA MODERNA */
.alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(15, 25, 40, 0.95);
    color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 25px;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.alert.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.alert p {
    font-size: 1.1rem;
    margin: 0 0 10px;
}

.alert button {
    
    border: none;
    color: #F1E2B7;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.alert button:hover {
    background: #ff66c4;
}

.instructions {
    margin-top: 6px;
    font-size: 1rem;
    opacity: 0.8;
    color: #F1E2B7;
    font-weight: 100;
}