@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url(/src/style/lucky.css);
@import url(/src/style/tickster.css);
@import url(/src/style/shooter.css);
@import url(/src/style/memory.css);

body {
    font-family: "Suez One", serif;
    color: #F1E2B7;
    background-image: linear-gradient(#063876, #07172B 40%);
    height: 200%;
    margin: 0;
}

nav {
    display: flex;
    background-color: #1F1F1F;
    width: 100vw;
    height: 50px;
    box-shadow: 5px 8px 10px #07172B80
}
nav a { 
    display: flex;
    color: #F1E2B7;
    text-decoration: none;
}


nav a:hover{
    color: #D0A05C;
    transform: scale(1.05);
    text-shadow: 0 0 10px #F1E2B740;
}

.logo {
    margin: auto 0px auto 30px;
    max-width: 35px;
    max-height: 18px;
    width: auto;
    height: auto;
    cursor: pointer;
}

h1 {
    margin: auto 5px auto;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    text-shadow: 0 0 10px #F1E2B720;
}

hr {
    margin: 5px 10px;
    border: 1px solid #383838;
}

 /* Music Button */

 #buttonMusicTrickster {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #F1E2B7;
    border-right: none;
    cursor: pointer;
    background: none;
    margin: auto;
    margin-left: 10px;
    color: #F1E2B7;
    transition:0.3s ease;
 }


 .buttonMusicTrickster {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #F1E2B7;
    border-right: none;
    cursor: pointer;
    background: none;
    margin: auto;
    margin-left: 10px;
    color: #F1E2B7;
    transition:0.3s ease;
 }

.buttonTrickster {
    transform: scale(1.08);
    transition:0.3s ease;
    width: 15px;
    height: 15px;
    background-color: #F1E2B7;
    margin: auto;
    margin-left: 10px;
    border: none;
}


#buttonMusicText {
    font-size: 14px;
    margin: auto 0;
}



form{
    margin-left: auto;
    margin-right: 50px;
    margin-top:auto;
    margin-bottom: auto;
    background-color: #383838;
    align-items: center;
    display: flex;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
}

form p {
    margin: auto 10px;
    font-size: 12px;
    font-weight: 100;
}

form input {
    font-size: 12px;
    border-radius: 5px;
    padding-left: 5px;
    width: 120px;
}

form button {
    font-family: "Suez One", serif;
    font-size: 12px;
    background-color: #F1E2B7;
    border-radius: 5px;
    margin: 5px;
}

.side-decor {
    display: flex;
    z-index: -1;

}

.side-decor div:nth-last-of-type(1) {
    height: 120vh;
    width: 5%;
    background: linear-gradient(#C22127, #5C1012);
    z-index: -1;
}

.side-decor div:nth-last-of-type(2) {
    justify-self: star;
    height: 120vh;
    width: 5%;
    background: linear-gradient(#E4D9BB, #D0A05C);
    margin-left: auto;
    z-index: -1;
}

.side-decor div:nth-last-of-type(3) {
    height: 120vh;
    width: 5%;
    background: linear-gradient(#E4D9BB, #D0A05C);
    z-index: -1;
}

.side-decor div:nth-last-of-type(4) {
    justify-self: star;
    height: 120vh;
    width: 5%;
    background: linear-gradient(#C22127, #5C1012);
    z-index: -1;
}

h2 {
    font-family: "Limelight", sans-serif;
    font-size: 58px;
    position: absolute;
    margin-inline: auto;
    top: 3%;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 16;
    text-shadow: 5px 10px 10px #07172B80;
}

.banner {
    box-shadow: 0px 50px 5px #07172B;
}

.banner div:nth-last-of-type(1) {
    background: linear-gradient(#C22127, #5C1012);
    height: 30vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 10%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(2) {
    background: linear-gradient(#E4D9BB, #D0A05C);
    height: 25vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 15%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(3) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 20%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(4) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 25%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(5) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 30%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(6) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 35%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(7) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 40%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(8) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5.1%;
    position: absolute;
    top: 40px;
    left: 45%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(9) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 50%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(10) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 55%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(11) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 60%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(12) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 65%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(13) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 70%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(14) {
    background: linear-gradient(#C22127, #5C1012);
    height: 20vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 75%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(15) {
    background: linear-gradient(#E4D9BB, #D0A05C);
    height: 25vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 80%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

.banner div:nth-last-of-type(16) {
    background: linear-gradient(#C22127, #5C1012);
    height: 30vh;
    width: 5%;
    position: absolute;
    top: 40px;
    left: 85%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0px 8px #07172B;
    z-index: -1;
}

h3 {
    position: absolute;
    top: 39%;
    left: 16%;
    font-weight: 100;
    font-size: 24px;
}


.gamesgallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 70vw;
    width: max-content;
    gap: 3%;
    position: absolute;
    top: 50%;
    left: 16%;
}


.gamesgallery img {
    height: 185px;
    width: 185px;
    border-radius: 10px;
    box-shadow: 0px 8px 10px #000000;
    object-fit: cover;
    border: 2px ridge #D0A05C;
    
}

.gamesgallery img:hover {
    box-shadow: 0px 0px 20px #F1E2B760;
    transform: scale(1.08);
    transition: 0.2s ease;
    object-fit:;

}
 
.gamesgallery h4 {
    font-weight: 100;
    text-decoration: none;
}

.gamesgallery h4:hover {
    text-shadow: 0px 0px 20px #F1E2B780;
}
.gamesgallery a {
    text-decoration: none;
    color: #F1E2B7;
}


footer {
    background: linear-gradient(#262626 8%, #1F1F1F 15%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: auto;
    padding: 2vh;
    
}  

footer h5 {
    margin-top: 5vh;
    padding: 2vh auto;
    font-size: 20px;
    font-weight: 100;
}

footer a {
    text-decoration: none;
    color: #F1E2B7;
}

footer a:hover {
    color: #D0A05C;
}

footer p {
    padding: 5px auto;
    font-size: 14px;
    font-weight: 100;
}

